/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #eeeeee;
    padding: 16px 0;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-style: bold;
    font-weight: 100;
    display: inline-flex;
    position: relative;
    bottom: 35px;
    margin-left: 10px;

}

nav {
    background-color: #fafafa;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #b6b6b6;
}


footer {
    background-color: #eeeeee;
    padding: 30px 0;
    text-align: center;
    clear: both;
    margin-top: 30px;

}


.holder {
    width: 960px;
    margin: 0 auto;

}

h2 {
    color: #000000;
    font-weight: 400;
    
}

.columnas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenidos {
    width: 75%;
    padding-right: 30px;
}


.bienvenidos p {
    font-size: 16px;
    text-align: justify;
    display: flex;
    justify-content: center;
}


.homeimg{
    padding: 20px;
}


/*estilos para la sección Nosotros*/


.historia p {
    font-size: 16px;
    font-style: normal;
    text-align: justify;

}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    width: 18%;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 15px 5px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}


.persona h5,
.persona h6 {
    margin: 0;
    color: #000000;
    font-weight: normal;
}

.persona h5 {
    font-size: 16px;
}

.persona h6 {
    font-style: italic;
    font-size: 13px;
}

.persona p {
    font-size: 12px;
    color: #565656;
    text-align: justify;
}

/*fin de la sección Nosotros*/


/*Estilos de la sección Contacto*/

.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li {
    font-size: 13px;
    
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}


.formulario p input,
.formulario p textarea {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 6px;
    font-size: 14px;
}

.formulario p textarea {
    resize: none;
    height: 150px;
}

.arriba {
    align-items: start;
}

.formulario input[type="submit"] {
    background-color: #f0f0f0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
    width: auto;
    padding: 6px 20px;
    margin-left: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.formulario input[type="submit"]:hover {
    background-color: #ffffff;
}

/*Fin de la sección Contacto*/


/*Estilos para la sección Servicios*/

.contenedor h2 {
    border-style: solid;
    border-width: 2px 10px 8px;
    background-color: #f9f9f9;
    padding: 5px;
    border-color: #646363 #3d3d3d ;
    font-style: normal;
    color: rgb(51, 50, 50);
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 8px;
    padding: 5px 10px;
    margin: center;
    width: 50% 50%;

}

.contenedor {
    display: flex;

}

.segundo {
    margin-left: 40px;
}

.contenedor h2:hover{
    background-color: #ccc;
    -webkit-transform:scale(1.1);transform:scale(1.1);
    cursor:pointer;
}

/*fin de la sección Servicios*/


/*estilos de la sección Empleos*/

.contacto1 {
    display: flex;
    gap: 24px;
}

.contacto1 div {
    width: 100%;
}

.datos p {
    font-size: 14px;
}



.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}


.formulario p input,
.formulario p textarea {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 6px;
    font-size: 14px;
}

.formulario p textarea {
    resize: none;
    height: 150px;
}

.arriba {
    align-items: start;
}

.formulario input[type="submit"] {
    background-color: #f0f0f0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0);
    width: auto;
    padding: 6px 20px;
    margin-left: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.formulario input[type="submit"]:hover {
    background-color: #ffffff;
}

.margen{
    margin-right: 8px;
    
}